.comment-by {
  font-size: 12px!important;
  font-weight: bold;
  color: #828282;
}

.comment-text {
  font-size: 12px!important;
  // color: #828282;
}

.comment-time {
  font-size: 12px!important;
  font-weight: bold;
}

